<div class="header">
    <div class="content">
        <p class="logo brandon"><!-- Harry&#8217;s --></p>
        <p class="byline brandon">THANKS FOR SIGNING UP.</p>
    </div>
</div>

<div class="hero">
    <div class="page-content my-own clearfix">
        <div class="mammoth">
            <span class="need brandon">BE SMAR<span class="textdiv" style="letter-spacing: -4px;
    margin-right: 5px;">T.</span> BE RESPONSIBLE.<br>CHOOSE THE RAW OFFICE.</span>
        </div>
        <div class="share-wrap">
            <p class="why brandon">Don't leave your friends behind</p>
            <p class="title brandon">INVITE FRIENDS &<br>Earn Product</p>
            <p class="subtitle brandon">Share your unique link via email, Facebook<br>or Twitter and earn Raw Office products for<br>each friend who signs up.</p>
            <div id="textselect"  class="copy-link brandon"><input id="selectall"style="    width: 93%; border: none;" type="text" readonly="readonly" value="<%= root_url %>code/<%= @user.referral_code %>" /></div>
            <input type="button"  id="clickit" value="Click To Select" id="select" class="submit brandon">
            <% twitter_message = "#Shaving is evolving. Excited for @harrys to launch." %>
            <div class="social-links">
                <a href="https://www.facebook.com/theraw0ffice/" class="fb" target="_blank"><i class="fa fa-facebook"></i></a>
                <!-- <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"><i class="fa fa-facebook"></i></a> -->
                <div class="sep"></div>
                
                <a href="https://twitter.com/RawOffice_" class="twit" target="_blank"><i class="fa fa-twitter"></i></a>
                <!-- <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"><i class="fa fa-twitter"></i></a> -->
            </div>
        </div>
    </div>
</div>



<% 
   

    referrals_count =  @total_refer 

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   
 %>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <p class="callout brandon">Here's How It Works:</p>
        <ul class="products clearfix">
            <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards">RAW OFFICE PRODUCT</p></li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'six' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <!-- <div class="tooltip">
                        <img src="<%= stop["image"] %>" height="254">
                    </div> -->
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <% 
            words = ''
            if referrals_count == 1
                words = 'friend has'
            elsif 
                words = 'friends have'
            end

        %>

        <% if @total_refer == 0 %>
            <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
        <% else %>
            <p class="place brandon"><span><%= @total_refer %></span> <%= words %> joined</p>
        <% end %>
        <p class="check brandon">Keep checking</p>

        <p class="ship brandon">We ship to the U.S. & Canada </p>        
        <a class="policy brandon" href="privacy-policy" >Privacy Policy</a>
    </div>
</div>


<%= javascript_include_tag "jquery.min.js" %>
<script type="text/javascript">
    $( document ).ready(function() { 
        $('#clickit').css('cursor','pointer');
        $(document).on('click', '#clickit',  function(event) { alert('hello');
            // $("#selectall").select(); 
            // $('#selectall').get(0).setSelectionRange(0,9999);
            var myInput = document.getElementById('selectall');
            myInput.focus();
            myInput.setSelectionRange(0, 9999);
        });
    });
</script>